/*LIGHT*/

:root {
  --c-primary-color: #edf5f8; /*grayish*/
  --c-main-text-color: #000224; /*blackish*/
  --c-main-text-color-dull: #9aa2af; /*grayish*/
  --c-nav-background-color: #06163a; /*dark blue*/
  --c-header-background-color: #fff; /*header color*/
  --c-nav-text-color: #d8e1f2; /*white*/
  --c-logo-text-color: #fffffd; /*white*/
  --c-big-buttons-color: #ff5e15; /*orange*/
  --c-process-button: #f33921; /*red*/
  --c-open-button: #4aa23c; /*green*/
  --c-on-hold-button: #667add; /*blue*/
  --c-search-border-color: #dbdbdb;
  --c-search-background-color: #fafafa;
  --c-box-background-color: #fff;

  --c-small-card-text-color: #fff;
  --c-small-card-base--text-color: #53627c; /*gray*/
  --c-small-card-revinue: #195bff; /*blue*/
  --c-small-card-revinue-text: #22a1ff; /*bold blue*/
  --c-small-card-task: #ffba00; /*yellow*/
  --c-small-card-task-text: #ffc700; /*bold yellow*/
  --c-small-card-rate: #ff4757; /*orange*/
  --c-small-card-rate-text: #ff5f15; /*bold orange*/
  --c-small-card-request: #7d33ff; /*purple*/
  --c-small-card-request-text: #9414ff; /*bold purple*/

  /*garph*/
  --c-pie-yellow: #ffc700;
  --c-pie-blue: #22a1fe;
  --c-pie-red: #ff5e15;
}

/*DARK*/
/*
.dark:root {
}
*/
